<a href="https://colab.research.google.com/github/jayac251/Machine_Learning/blob/main/panda_basics_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##**1. Data structures in Pandas**

*   Series
*   Dataframe

In [ ]:
import pandas as pd

##**1.1 Series**

*   One dimensional array
*   contains sequence of values of any data type

In [ ]:
#creation of series from scalar values

series1 = pd.Series([10,20,30])
print(series1)

0    10
1    20
2    30
dtype: int64

In [ ]:
#assign user-defined labels to the index

series2 = pd.Series(['Apple','Banana','Cherry'],index=[3,5,1])

print(series2)

series3 = pd.Series(['Apple','Banana','Cherry'],index=['Alan','Barney','Choloe'])

print(series3)

3     Apple
5    Banana
1    Cherry
dtype: object
Alan       Apple
Barney    Banana
Choloe    Cherry
dtype: object

In [ ]:
#creation of series from numpy arrays

import numpy as np

array1 = np.array([1,2,3,4])

series4 = pd.Series(array1)

print(series4)


series5 = pd.Series(array1, index = ['Apple','Banana','Cherry','Dragon Fruit'])

print(series5)

0    1
1    2
2    3
3    4
dtype: int64
Apple           1
Banana          2
Cherry          3
Dragon Fruit    4
dtype: int64

In [ ]:
#creation of series from dictionary

dict1 = { 'India':'Virath Kohli','Australia':'Steve Smith','England':'Joe Root'}
print(dict1)
series6 = pd.Series(dict1)
print(series6)

{'India': 'Virath Kohli', 'Australia': 'Steve Smith', 'England': 'Joe Root'}
India        Virath Kohli
Australia     Steve Smith
England          Joe Root
dtype: object

##Accessing Elements of a Series

Two types of Index


*   Positional
*   Labelled

In [ ]:
# 1. Positional Index

seriesNum = pd.Series([10,20,30])
print(seriesNum[1])
print(series5[1])

# 2. Labelled Index
# series5 = pd.Series(array1, index = ['Apple','Banana','Cherry','Dragon Fruit'])
print(series5['Banana'])

print('\n',series5[[0,1,2]])

print('\n',series5[['Apple','Banana','Cherry']])

20
2
2

 Apple     1
Banana    2
Cherry    3
dtype: int64

 Apple     1
Banana    2
Cherry    3
dtype: int64

In [ ]:
# altering the index of the series 

series5.index=['A','B','C','D']

series5

A    1
B    2
C    3
D    4
dtype: int64

## **Slicing**

In [ ]:
print(series6)

print('\nseries6[1:2]\n------------\n',series6[1:2])

print('\nseries6[India,England]\n------------\n',series6['India':'England'])

#get the series in reverse order

print('\nseries6[: : -1]\n------------\n',series6[::-1])

India        Virath Kohli
Australia     Steve Smith
England          Joe Root
dtype: object

series6[1:2]
------------
 Australia    Steve Smith
dtype: object

series6[India,England]
------------
 India        Virath Kohli
Australia     Steve Smith
England          Joe Root
dtype: object

series6[: : -1]
------------
 England          Joe Root
Australia     Steve Smith
India        Virath Kohli
dtype: object

In [ ]:
np.arange(1,16,2)

series7 = pd.Series(np.arange(1,16,2),index = (np.arange(2,10)))

print(series7)
print('\n')

series7[2:6] = 500

series7

2     1
3     3
4     5
5     7
6     9
7    11
8    13
9    15
dtype: int64

2      1
3      3
4    500
5    500
6    500
7    500
8     13
9     15
dtype: int64

##**Attributes of Series**  

*   name
*   index.name
*   values
*   size
*   empty

In [ ]:
seriesCountryCapitals = pd.Series(['India','United Kingdom','Argentina','Belgium'], index = ['New Delhi','London','Buenos Aires','Brussels'])

seriesCountryCapitals.name = 'Country Capitals'
seriesCountryCapitals.index.name = 'Capitals'

print(seriesCountryCapitals)

print('\nseriesCountryCapitals.values\n------------------------------\n',seriesCountryCapitals.values)
print('\nseriesCountryCapitals.size\n------------------------------\n',seriesCountryCapitals.size)
print('\nseriesCountryCapitals.empty\n------------------------------\n',seriesCountryCapitals.empty)

seriesEmpty = pd.Series()
print('\seriesEmpty.empty\n------------------------------\n',seriesEmpty.empty)

Capitals
New Delhi                India
London          United Kingdom
Buenos Aires         Argentina
Brussels               Belgium
Name: Country Capitals, dtype: object

seriesCountryCapitals.values
------------------------------
 ['India' 'United Kingdom' 'Argentina' 'Belgium']

seriesCountryCapitals.size
------------------------------
 4

seriesCountryCapitals.empty
------------------------------
 False
\seriesEmpty.empty
------------------------------
 True

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:12: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  if sys.path[0] == '':

In [ ]:
seriesTest1 = pd.Series([12,np.nan,10])

print(seriesTest1)

print('\n\n',seriesTest1[seriesTest1.notnull()],'SIZE: ',seriesTest1[seriesTest1.notnull()].size)

0    12.0
1     NaN
2    10.0
dtype: float64


 0    12.0
2    10.0
dtype: float64 SIZE:  2

# **Methods of Series**

In [ ]:
seriesNum = pd.Series(np.arange(1,100))

#head(n)

print('\nhead(n)\n---------\n',seriesNum.head(5))

#count
print('\ncount\n----------\n',seriesNum.count())

#tail
print('\tail(n)\n---------\n',seriesNum.tail(5))

head(n)
---------
 0    1
1    2
2    3
3    4
4    5
dtype: int64

count
----------
 99
	ail(n)
---------
 94    95
95    96
96    97
97    98
98    99
dtype: int64

##**Mathematical Operations**

In [ ]:
seriesA = pd.Series(np.arange(10,20), index = (np.arange(0,10)))
seriesB = pd.Series(np.arange(100,120), index = (np.arange(0,20)))

#Addition of Series
#Nan if one of the element or both the elements have no value
print(seriesA+seriesB)

#use Series method add() to fill value for any element that is missing
print('\n',seriesA.add(seriesB,fill_value=0))

#same procedure to be followed for subtraction,multiplication and division

0     110.0
1     112.0
2     114.0
3     116.0
4     118.0
5     120.0
6     122.0
7     124.0
8     126.0
9     128.0
10      NaN
11      NaN
12      NaN
13      NaN
14      NaN
15      NaN
16      NaN
17      NaN
18      NaN
19      NaN
dtype: float64

 0     110.0
1     112.0
2     114.0
3     116.0
4     118.0
5     120.0
6     122.0
7     124.0
8     126.0
9     128.0
10    110.0
11    111.0
12    112.0
13    113.0
14    114.0
15    115.0
16    116.0
17    117.0
18    118.0
19    119.0
dtype: float64